[submodule "priority_queue"]
	path = priority_queue
	url = https://github.com/IRomanchuk06/priority_queue.git
[submodule "multiset"]
	path = multiset
	url = https://github.com/IRomanchuk06/multiset.git
[submodule "social_network"]
	path = social_network
	url = https://github.com/IRomanchuk06/social_network.git
[submodule "process_synchronisation_algorithms"]
	path = process_synchronisation_algorithms
	url = https://github.com/IRomanchuk06/process_synchronisation_algorithms.git
